extends layout
block content
	div.container
		div.jumbotron
			h2 Create Game
			p Enter players' names (up to 12)
			div.center
				form(role="form" action="/game" method="get")
					div#inputs
						input.form-control#name1(name="name1")
						input.form-control#name2(name="name2")
					button.btn.btn-success Enter
				div.right
					button.btn.btn-info#plus-button
						span.glyphicon.glyphicon-plus
					button.btn.btn-info#minus-button
						span.glyphicon.glyphicon-minus

	script(src='/js/createGame.js')
//<input id="name#" name="name#" class="form-control"> 
