extends layout
block content
	div.container
		div.jumbotron
			div.row
				div.col-md-12
					p GameView
			div.row
				div.col-md-6
					p#name1= name1
				div.col-md-6
					p#name2= name2
			div.row
				div.col-md-6
					p#score1 0
				div.col-md-6
					p#score2 0
	script(src='http://localhost:3000/socket.io/socket.io.js')
	script(src='/js/socket.js')