extends layout
block content
	div.container
		div.jumbotron
			div.row
				div.col-md-12
					h2 Game Score Board
			div.row
				each val, index in names
					div(class=('col-md-'+width)) 
						p(id = ("name"+(index+1)))= val
			div.row
				each val, index in scores
					div(class=('col-md-'+width))
						p(id = ("score"+(index+1)))= val
			div.row
				p#invite.invitation-link


	script(src='http://localhost:3000/socket.io/socket.io.js')
	script(src='/js/socket.js')