extends layout

block content
	div.container
		div.jumbotron
			h1 2 Guys 2 Balls
			p Brand new outdoor game that you can play indoors.
			div.row
				div.col-md-4
				div.col-md-4
					ol
						li Install mobile app
						li Attach it to a basket
						li Challenge your friends
						li ?????
						li PROFIT
